.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(30, 27, 75, 0.85);
  backdrop-filter: blur(5px);
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__location {
  display: flex;
  gap: 10px;
}
.header__location__item {
  display: flex;
  align-items: center;
}
.header__location__item__text {
  color: rgba(248, 250, 252, 0.8);
  margin-left: 6px;
}
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.header__nav__list__item {
  color: rgba(248, 250, 252, 0.8);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.3s ease;
  overflow-x: hidden;
}
.header__nav__list__item span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  box-shadow: 0px 0px 3px 2px rgba(79, 70, 229, 0.3);
  background: #4F46E5;
  transform: translateX(-100%);
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.header__nav__list__item:hover {
  transform: translateY(-2px) scale(1.1);
}
.header__nav__list__item:hover span::after {
  transform: translateX(0);
}
.header__nav__list__item.active {
  color: #6366F1;
}

.hero {
  width: 100%;
  padding: 160px 0 120px;
  justify-content: center;
}
.hero__content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hero__content__title {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #ffffff 0%, #6366F1 73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: titleGrad 2s infinite alternate;
}
.hero__content__subtitle {
  font-weight: 400;
  font-size: 20px;
  color: rgba(248, 250, 252, 0.8);
  margin-top: 24px;
}
.hero__content__button {
  margin-top: 24px;
}

.flying-card {
  position: absolute;
  transform: rotate(-4deg);
  display: flex;
  width: 180px;
  height: 150px;
  padding: 28px 19px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
  background: rgba(30, 41, 59, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  transition: transform 0.5s ease, z-index 0.5s;
}
.flying-card:nth-of-type(1) {
  right: 12%;
  top: 34%;
  animation: flying-card 4s alternate infinite ease-in-out 1.5s;
}
.flying-card:nth-of-type(2) {
  right: 16%;
  top: 48%;
  animation: flying-card 4s alternate infinite ease-in-out 3s;
}
.flying-card:nth-of-type(3) {
  left: 2%;
  top: 2%;
  animation: flying-card 4s alternate infinite ease-in-out 1.5s;
}
.flying-card:nth-of-type(4) {
  left: 8%;
  top: 29%;
  animation: flying-card 4s alternate infinite ease-in-out 3s;
}
.flying-card__title {
  color: #6366F1;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}
.flying-card__text {
  color: rgba(248, 250, 252, 0.8);
  font-size: 14px;
  font-weight: 400;
}
.flying-card:hover {
  animation: none;
  transform: rotate(0deg) translateY(0) scale(1.2) translateX(-25%);
  z-index: 10;
}

@keyframes titleGrad {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 70%;
  }
}
@keyframes flying-card {
  0% {
    transform: translateY(0px) rotate(-4deg);
  }
  50% {
    transform: translateY(-10px) rotate(-4deg);
  }
  100% {
    transform: translateY(0px) rotate(-4deg);
  }
}
body {
  background: #1E1B4B;
}/*# sourceMappingURL=style.css.map */