@import "../../scss/vars";

.stages {
  @media (max-width: 784px) {
    pointer-events: none;
  }
  &__title {
    color: #f8fafc;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &.light &__title {
    color: $lighthead;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    &__item {
      user-select: none;
      position: relative;
      width: 18.75rem;
      padding: 1.75rem 1.5rem;
      background: $carddark;
      border-radius: 12px;
      box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.25);
      border: 1px solid #f8fafc21;
      transition: transform 0.5s, scale 0.5s, border-color 0.5s,
        border-width 0.1s, box-shadow 0.2s;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        left: -70%;
        bottom: -15%;

        display: block;
        width: 500px;
        height: 50px;
        background: #ffffff20;
        z-index: 0;
        transform: rotate(15deg) translateY(0);
        transition: transform 0.3s, background 0.4s;
      }

      &:hover {
        transform: translateY(-10px) scale(0.9);
        border-color: #f8fafcd5;
        border-width: 3px;
        box-shadow: 1px 2px 25px 3px rgba(79, 70, 229, 0.3);

        &::after {
          transform: rotate(15deg) translateY(-800px);
          background: #ffffff90;
        }
      }
      &__logo {
        z-index: 10;
        display: flex;
        width: 3.875rem;
        height: 3.875rem;
        padding: 1.0625rem 1.1875rem;
        align-items: center;
        border-radius: 31px;
        background: $badge;
        margin-bottom: 1.75rem;
      }

      &__title {
        z-index: 10;
        color: #fff;
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1.75rem;
      }

      &__content {
        z-index: 10;
        &__block {
          display: flex;
          gap: 1rem;
          &:not(:last-of-type) {
            margin-bottom: 1.75rem;
          }

          transition: transform 0.5s, scale 0.5s;

          &:hover {
            transform: translateX(10px) translateY(-5px) scale(1.05);
          }

          &__content {
            &__title {
              color: #ffffff;
              font-size: 1.125rem;
              font-weight: 700;
              margin-bottom: 1rem;
            }
            &__text {
              color: $darktext;
              font-size: 0.875rem;
              font-weight: 500;
              max-width: 85%;
              transition: transform 0.5s, scale 0.5s, color 0.5s;

              &:hover {
                color: #ffffff;
                transform: scale(1.1) translateX(10px);
              }
            }
          }
        }
      }
    }
  }

  &.light &__cards {
    &__item {
      background: $cardlight;
      &::after {
        background: #1e293b42;
      }

      &:hover {
        border-color: $maindarkpurple;

        &::after {
          transform: rotate(15deg) translateY(-800px);
          background: #1e293b6e;
        }
      }

      &__logo {
        path {
          stroke: $lighthead;
        }
      }

      &__title {
        color: $lighthead;
      }
      path {
        stroke: $lighthead;
      }
      &__content__block__content {
            

            &__title {
              color: $lighthead;
            }
            &__text {
              color: $lighttext;
              &:hover {
                color: $lighthead;
              }
            }
      }
    }
  }
}
