$bgdark: #1E1B4B;
$darkGrad: linear-gradient(90deg, #ffffff 0%, #6366F1 73%);
$darktext: #F8FAFCCC;
$carddark: argb(30,41,59,0.7);
$maindarkpurple: #4F46E5;
$mainlightpurple: #6366F1;
$badge: argb(99, 102, 241,  0.15);
$red: #EB0000;