$bgdark: #1E1B4B;
$darkGrad: linear-gradient(90deg, #ffffff 0%, #6366F1 73%);
$darktext: #F8FAFCCC;
$carddark: rgba(30, 41, 59, 0.8);


$maindarkpurple: #4F46E5;
$mainlightpurple: #6366F1;
$badge: rgba(99, 102, 241,  0.15);
$red: #EB0000;


$bglight: linear-gradient(185deg, #F8FAFC 30%, #E0F0FF 60%, #f8FAFC 100%);
$lightGrad: linear-gradient(90deg, #1E293BD9 0%, #6366F1 73%);
$lighttext: #1E293BCC;
$lighthead: #1E293B;

$cardlight: #FFFFFFE5;
