@import "_vars";
@font-face {
  font-family: "Inter";
  src: url("../../assets/font/Inter.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  font-size: 16px;
  @media (max-width:1100px) {
    font-size: 14px;
  }

  @media (max-width:784px) {
    font-size: 12px;
  }
  @media (max-width: 480px) {
    font-size: 10px;
  }
}

body {
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}